div#menu_superior{
    background-color: green;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}

body {
    background-color: blueviolet
  }
  .main {
    height: calc(100% - 100px);
    overflow: auto;
  }
  button{
    background-color: yellow;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    border-radius: 10px;
    width: 100px;
    height: 40px;
    flex-direction: column;
  }

  button{
    margin-top: 20px;
    padding: 10px;
  }

  